[submodule "cuse"]
	path = cuse
	url = https://github.com/MichaelGloessl04/rdp_cuse.git
[submodule "api"]
	path = workspace/api
	url = https://github.com/MichaelGloessl04/rdp_api.git
[submodule "workspace/gui"]
	path = workspace/gui
	url = https://github.com/MichaelGloessl04/rdp_gui.git
